body {background-repeat: no-repeat;
  background-image: url("./fruit background.jfif");
  background-size: cover;}

h1 {color: #175800;
  margin: 20pt;
  text-align: center;
  font-size: 40pt;
  line-height: 1;
  font-family: forte;}

h2 {color: #FFDC00;
  margin: 10pt;
  text-align: center;
  font-size: 20pt;
  line-height: 1;
  font-family: comic sans ms;}

p{color: blue;
  margin: 10pt;
  text-align: center;
  font-size: 20pt;
  line-height: 1;
  font-family: sans serif;}

  th{color: #004300;
    margin: 10pt;
     text-decoration: underline;
     text-align: center;
     font-size: 20pt;}
  
  table{background-color: rgb(255, 255, 255);}
  
  button{width: 99px;
        height: 40px;
        font-size: 12pt;
        color: black;
        background-color: #63D13E;
        margin: 5pt;
        font-family: forte;}
  
  hr{color: #D3FFCF;
    height: 10px;
    width: 850px;
    border:1px solid;
    border-color: #D3FFCF;
    background-color:#D3FFCF;}

  a{display: inline;
    color: rgba(0, 124, 27);
     font-family: COMIC SANS MS;} 
  