body{background-color: azure;}

h1 {color: navy;
    text-align: center;
    font-size: 25pt;
    font-family: comic sans ms;
    text-decoration: underline;}


h6 {color: cornflowerblue;
    text-align: left;
    font-size: 8pt;
    font-family: monospace;}
