body{background-color: seashell;}

hr{color: silver;
height: 8px;
width: 600px;
background-color: silver;}

h1{color: steelblue;
    font-family: forte;
    text-align: center;
    font-size: 36pt;}

h2{font-family: times new roman;
    font-size: 15pt;}

h3{color: midnightblue;
    font-family: monospace;
    font-size: 12.5pt;}

h4{color: midnightblue;
    font-family: monospace;
    font-size: 13.5pt;}

p{color: steelblue;
    font-family: forte;
    font-size: 7;
    text-align: center;}
