hr{color:black;
    height: 10px;
    width: 850px;
    border:1px solid black;
}

h1{color: black;
    font-size: 35pt;
    font-family: forte;
    text-align: center;
}

h2{color: black;
    font-size: 20pt;
    font-family: forte;
}

h3{color: black;
    font-size: 15pt;
    font-family: forte;
}

h4{color: black;
    font-size: 20pt;
    font-family: forte;
}
