hr{color: black;}

h1{color: blue;
    font-family: forte;
    text-align: center;}

h2{color: purple;
    font-family: forte;}

h3{color: yellow;
    font-family: forte;}

h4{color: green;
    font-family: forte;}
