h1{color: black;
    font-size: 35pt;
    font-family: forte;
}

h2{color: black;
    font-size: 20pt;
    font-family: forte;
}

h3{color: black;
    font-size: 15pt;
    font-family: forte;
}

h4{color: black;
    font-size: 20pt;
    font-family: forte;
}
