body{background-color: powderblue;}

a{color: dodgerblue;}

p{color: steelblue;
  background-color: #;
  margin: 10pt;
  text-align: right;
  font-size: 30pt;
  line-height: 1;
  font-family: monospace;}

h6{font-family: comic sans ms;
text-align: center;
font-size: 20px;}

h1{color: steelblue;
  background-color: #;
  margin: 10pt;
  text-align: center;
  font-size: 30pt;
  line-height: 1;
  font-family: monospace;}

h2{color: navy;
  background-color: #;
  margin: 10pt;
  text-align: left;
  font-size: 20pt;
  line-height: 1;
  font-family: comic sans ms;
  text-decoration: underline;}

h3{color: black;
  background-color: #;
  margin: 15pt;
  text-align: left;
  font-size: 10pt;
  line-height: 1;
  font-family: sans-serif;}

  h4{color: navy;
    background-color: #;
    margin: 10pt;
    text-align: right;
    font-size: 20pt;
    line-height: 1;
    font-family: comic sans ms;
    text-decoration: underline;}

  h5{color: black;
    background-color: #;
    margin: 15pt;
    text-align: right;
    font-size: 10pt;
    line-height: 1;
    font-family: sans-serif;}
